version: '3'
services:
  # Service de l'application Laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: mon-app-laravel
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - laravel

  # Service Nginx
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - laravel

  # Service de base de données MySQL
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: LARAVEL
      MYSQL_ROOT_PASSWORD: Ageofempir3
      MYSQL_PASSWORD: Ageofempir3
      MYSQL_USER: usertest
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

# Définition du réseau
networks:
  laravel:
    driver: bridge